/*****************************/
/*
This is the styles for the spectrum tool Interface 
done by Alaalden Ibrahim
*/
body {
  margin: 0;
  font-family: "Myriad Pro", Helvetica, sans-serif;
}

/*************************/
/*************************/
.fakeimg {
    height: 200px;
    background: #4D5B82;
    
    /*background: #aaa;
    background: Green;*/
}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    .container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.site-header a.active
{
    color:#479ff8;
}
/*
 * Dummy devices (replace them with your own or something else entirely!)
 */
.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}
.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}
/*
 * Extra utilities
 */
.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
    
  .themed-grid-col1_0, .themed-grid-col3_0 {
    border-bottom-left-radius: 0px;
}  
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
/*************************/
/*************************/
.spectrum_banner {
    background: url(../../../includes/AI_common/images/rainbow-line-art_H210.png) center left no-repeat;
    padding: 0 40px;
    height: 90px;/*210px;*/
}
.logo1 {
    width: 33%;
    height: 90%;
    float: right;
    margin-top: .5em;
    margin-right: 1.3em;
}
/*************************/
.Center_wrapper {
  position: relative;
  /*width: 61em;*/
  height: auto;
  margin: 0em auto;
  text-align: left;
  font-size: 100%;
  color: #4D5B82;
}
.Select_wrapper {
  overflow: hidden;
  width: 600px
}
.Select_wrapper div {
  min-height: 50px;
  padding: 10px;
}
#one, #three,#five,#Seven {
  float: left;
  margin-right: 20px;
  /*margin:10px;*/
  width: 45%;
}
#two, #four,#six,#Eight {
  overflow: hidden;
  /*  margin:10px;*/
  width: 45%;
  min-height: 40px;
}
@media screen and (max-width: 400px) {
  #one, #three,#five,#Seven {
    float: none;
    margin-right: 0;
    width: auto;
    border: 0;
  }
}
/*************************/
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  /*font-family: Arial;*/
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  border-radius: .5em;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
    color: #000;
    background-color: #63b2ff;
  /*background-color: DodgerBlue;*/
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/*************************/
.select-css {
  display: block;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 700;    
  color: #fff;
  /*color: #444;*/
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  border-radius: .5em;
    background-color: #479ff8;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-css option {
  font-weight: normal;
}
/********************************/
.YAxis_Slidecontainer
{ 
    position: absolute;
    top: 0px;
    left: 10px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    z-index: 1;
    -ms-transform: rotate(270deg); /* IE 9 */
    transform: rotate(270deg); /* Standard syntax */
}
.YAxis_Slide_Value
{
    position: absolute;
    background-color: #929292;
    top: 35px;
    left: 20px;
}
.slidecontainer {
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    width:  450px;
    z-index: 1;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 4px;
  background: #929292;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
    margin-top: 15px;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 40px;
  border-radius: 40%;
  background: #FF0000;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
/********************************/
.UpperCanvasRainbow,.TopDrawCanvasRainbowHue,.LowerCanvasRainbow,.LowerCanvasRainbowHue
{
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.themed-grid-col1_0,.themed-grid-col2_0,.themed-grid-col3_0,.themed-grid-col1_1,.themed-grid-col3_1
    {
        padding-top: 0px;
        padding-bottom: 0px;
    }

.themed-grid-col1_0,.themed-grid-col1_1,.themed-grid-col3_0,.themed-grid-col3_1
    {
        height:310px;
    }
.themed-grid-col1_0,.themed-grid-col1_1,.themed-grid-col3_0,.themed-grid-col3_1,.themed-grid-col3_8,.themed-grid-col3_9
    {  
    }
.themed-grid-col3_1,.themed-grid-col1_1
{
    text-align:left;
    color: #ffffff;
    min-width: 700px;
}
.themed-grid-col1_0,.themed-grid-col3_0
    {
        padding-top: 15px;
        padding-bottom: 10px;
        text-align: center;
        color: #ffffff;
    }
.themed-grid-col2_0
    {
        background-color: #ffffff;
        text-align: left;
    }
/********************************/
.UpperCanvasDiv,.LowerCanvasDiv {
    position: absolute;
    margin-top: 25px;
    width: 610px;
    top: 0px;
}
#UpperToolleft,#LowerToolleft
{
    min-width: 720px;
}
#LowerGraphRow,#UpperGraphRow
{
        background-color: #1e4c7d;  
    border-radius: 15px;
}
.Target_Name,.Comparison_Name
{
    position: absolute;
    left: 70px;
    top: 10px;
}
/********************************/
img.Harry_sun_spectrum {
	
	margin: .15em 1em .15em .25em;
	padding:0;
	font-size:.6em;
	align-text:left;
    border-radius: 25px;
    border: 2px solid #000000;
}

.themed-grid-col {
  padding-top: 0px;
  padding-bottom: 0px;
}
.themed-grid-col2
{
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #ffffff;
}

.themed-container {
  padding: 0px;
  margin-bottom: 0px;
  background-color:#1e4c7d;
}
/********************************/
#Cat_container 
{
    width:220px;
    height: 60px;
    position: relative;
    overflow: hidden;
}
#Cat_modules {
    position: absolute;
    left: -220px;
    width: 220px;
    height: 60px;
    background: black;
    transition: 1s;
    border: 2px solid #3374b6;
    border-radius: 25px;
    padding: 10px 0px 10px 5px;
}
#Cat_container:hover #Cat_modules {
    transition: 1s;
    left: 0;
}
.Cat_module {
    display:inline-block;
    width:20px;
    height:20px;
    line-height:0px;
    text-align:center;
    background:#ddd;
}
.Cat_module + .Cat_module {
    margin-left:5px
}
/********************************/
#Category_box1,#Category_box2
{
    border-radius: 25px;
    height:52px;
    width:35px;
    margin-left: 5px;    
    font-size:30px;
    padding-top: 4px;
    cursor: pointer;
    z-index: 17;
    margin-left: -5px;
}
#Category_box3,#Category_box4
{
    height:52px;
    width:35px;
    margin-left: 5px;    
    font-size:30px;
    padding-top: 4px;
    cursor: pointer;
    z-index: 4;
}
.box 
{
    width: 30px;
    height: 60px;
    background-color: #000000;
    border: 2px solid #3374b6;
    border-radius: 25px;
}
/*
.box:hover {
  width: 300px;
  background-color: orange;
}*/
/********************************/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 15%;
  left: 150%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;

    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    top: 40%;
    left: 103%;
    transform: rotate(270deg);
}

.tooltip:hover .tooltiptext,.fab:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/********************************/
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
/********************************/
.Challenge_Text
{
    border: 2px solid black;
    padding: 10px; 
    border-radius: 25px;
    text-align: left;
    min-height: 610px;
}
.btn-primary
{
    background-color: #479ff8;
}
/********************************/
.selcls { 
    padding: 9px; 
    border: solid 1px #517B97; 
    outline: 0; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #CAD9E3), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #CAD9E3 1px, #FFFFFF 25px); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 

    } 
/********************************/
/********************************/
.drawIcon
{
      filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(275deg);
  -moz-transform: rotate(275deg);
  -ms-transform: rotate(275deg);
  -o-transform: rotate(275deg);
  transform: rotate(275deg);
  display: inline-block;
}
/****************************************/
/****************************************/
/****************************************/
/****************************************/
.overlay1,.overlay2 {
	display:block;
	background: #000000;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}
.overlay1 
	{
		opacity: 0.01;
	}
.overlay2 
	{
		opacity: 0.05;
	}
a.SpectrumBoxClose ,a.boxclose {
	background: url("AI_images/cancel.png") repeat scroll left top transparent;
	cursor: pointer;
	float: right;
	height: 26px;
	left: 32px;
	position: relative;
	top: -33px;
	width: 26px;
}
a.SpectrumBoxClose {
	height: 20px;
	left: 330px;
	top: 0px;
}
/****************************************/
.Active_text
{
    color:#fee567;
}
.Tutorial_activeSection
{
    border: 2px solid #fee567;
}
.Tutorial_activeRounded
{
       border-radius: .5em;
}
.Tutorial_active_rightSection
{
    border-left: 2px solid #fee567;
    border-top: 2px solid #fee567;
    border-bottom: 2px solid #fee567;
}
.Tutorial_active_leftSection
{
    border-right: 2px solid #fee567;
    border-top: 2px solid #fee567;
    border-bottom: 2px solid #fee567;
    
}
.Tutorial_circlebtn
{
    
    background-color: #000000;
    color: #fee567;
    width: 30px;
    height: 35px;
    padding-left: 11px;
}
#Tutorial_backbtn
{
    visibility: hidden;
}
#Tutorial_nextbtn
{
    visibility: hidden;
}
.Tutorial_PopUp
{
	position:absolute;
    /*top: 230px;
    left: 0px;*/
    left: 300px;
    top: 24px;
}
/****************************************/
.Tutorial_PopUp_Controls
{
	position:absolute;
    left: 0px;
    top: 290px;
    visibility: hidden;
}
.Tutorial_arrow_up,.Tutorial_arrow_dn,.Tutorial_arrow_up_Controls,.Tutorial_arrow_dn_Controls
{
    position: relative;
    pointer-events: inherit;
    display: block;
    font-size: 70px;
    z-index: 200001;
    color: black;
}
.Tutorial_arrow_up
{
    top: 70px;
    left: 3%;
    visibility: visible;
}
.Tutorial_arrow_dn
{
    top: -32px;
    left: 3%;
    visibility: hidden;
}
.Tutorial_arrow_up_Controls
{
    left: 0%;
    top: 70px;
    visibility: hidden;
}
.Tutorial_arrow_dn_Controls
{
    top: -32px;
    left: 43%;
    visibility: hidden;
}
/****************************************/

#t_arrow_up
{
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
    display: inline-block;
}
#t_arrow_dn
{
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(210deg);
    -moz-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    -o-transform: rotate(210deg);
    transform: rotate(210deg);
    display: inline-block;
}
/************************/
#More_Light_Upper_Div,#More_Light_Lower_Div
{
    position: absolute; 
    left: -45px;
    top: 135px;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    display: inline-block;
}
#Wavelength_Upper_Div,#Wavelength_Lower_Div
{
    position: absolute; 
    left: 280px; 
    top: 245px;
}
/************************/
/************************/
a.SpectrumBoxClose, a.boxclose {
    background: url(../images/cancel.png) repeat scroll left top transparent;
    cursor: pointer;
    float: right;
    height: 26px;
    left: 32px;
    position: relative;
    top: -33px;
    width: 26px;
	z-index:200004;
}
/************************/
.Spectrum_box {
	background-color: #000000;
	color: #fee567;/*first pick d6b638*/
	padding: 20px;
	position: relative;
	/*border: 5px solid #888888;*/
	border-radius: 10px;
	-moz-border-radius: 10px;
	z-index:200002;    
    box-shadow: 10px 25px 30px rgba(0,0,0,0.3);
}
.Spectrum_box p {
    font-size: 17px;
    margin-top: .7em;
    margin-bottom: 0em;
    letter-spacing: .05em;
 }
/**********************/
#UpperGraphActiveDiv,
 #UpperRainbowActiveDiv
{
    
        position: absolute;
        display: block;
        visibility: hidden;
}
#UpperGraphActiveDiv 
{
    top: 70px;
    left: 40px; 
    width: 610px; 
    height: 150px; 
    z-index: 6;
}
 #UpperRainbowActiveDiv
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    top: 10px;
    left: 40px; 
    width: 610px; 
    height: 60px; 
    z-index: 6; 
}

/**********************/
.btn-primary2 {
    background-color: #000000;
    color: #fee567;
    border-radius: .2em;
    border: 1px solid #fee567;
}
.btn-primary2:focus, .btn-primary2.focus {
    color: #fee567;
    background-color: #333;
    border-color: #fee567;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.btn-primary2.active, .btn-primary2:active, .show > .btn-primary2.dropdown-toggle {
    border: #425e77;
    background-color: #425e77;
    background-color: #4f718f;
    color: white;
    border-radius: .23em;
}
.btn-primary2:hover {
    border-color: #fee567;
    background-color: steelblue;
}
.btn-outline-primary {
    border: 1px solid #000000;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
    background-color: #000000;
    border-color: #fee567;
    color: #4f718f;
}
.btn-primary2:not(:disabled):not(.disabled):active, .btn-primary2:not(:disabled):not(.disabled).active, .show > .btn-primary2.dropdown-toggle {
    background-color: steelblue;
    border: 1px solid steelblue;
}
.btn-outline-primary:hover {
    border-color: #425e77;
    background-color: #4f718f;
}
button, .btn-link {
    color: #000000;
}
.btn-primary2.disabled, .btn-primary2:disabled {
    color:#fee567;
    background-color: #DEE2E6;
    border-color: #fee567;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
/****************************************/
#Draw_message1
{
    position: absolute;
    top: 130px;
    left: 40px; 
    z-index: 6; 
    width: 610px; 
    height: 150px; 
    color:#333;
    visibility: visible;
    display:block;
}
/****************************************/
.challenge_btn_p
{
    position : absolute;
    bottom: 0; 
    right: 30px;
}
#challenge_btn
{    
    width: 150px;
    visibility: hidden;
}
/****************************************/
.challenge_h1
{
    color: #007bff;
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle
{
    background-color: #007bff;
    color: #ffffff;
}
#Challenge1_Text,#Challenge1_Text0,#Challenge1_Text1,#Challenge1_Text2,#Challenge1_Text3,#Challenge2_Text,#Challenge3_Text,#Challenge4_Text,#Challenge5_Text,#Challenge6_Text,#Challenge4_Text1,#Challenge4_Text2,#Challenge4_Text3,#Challenge4_h1,#Challenge5_Text1,#Challenge5_Text2,#Challenge5_h1
{
    visibility: hidden;
    display: none;
}
#Challenge1_Image_session1{
    visibility: hidden;
    display: none;
        width: 45%;
}
/****************************************/


#boxpopup1
	{
	    width: 580px;
}
#boxpopup4
{   
    width: 580px;
    height: 170px;
}
#boxpopup_Challenge
{   
    width: 550px;
    height: 170px;
}
#boxpopup_Controls
{
	    width: 580px;
}
/************************/
/****************************************/
.Tutorial_Challenge_PopUp
{
	position:absolute;
    top: -40px;
    left: -5px;
    visibility: hidden;
}
.Tutorial4_PopUp
{
	position:absolute;
    /*top: 240px;
    left: -415px;*/
    left:-570px;
    top: 240px;
    visibility: hidden;
}
.Tutorial_Challenge_arrow_up
{
    top: 70px;
    left: 2%;
    visibility: hidden;
}
.Tutorial4_arrow_up
{
    top: 70px;
    left: 45%;
    visibility: hidden;
}
.Tutorial4_arrow_dn
{
    top: -32px;
    left: 43%;
    visibility: hidden;
}
#t4_arrow_up
{
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
    display: inline-block;
}
#t4_arrow_dn
{
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(210deg);
    -moz-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    -o-transform: rotate(210deg);
    transform: rotate(210deg);
    display: inline-block;
}
/****************************************/
.Tutorial4_activeSection
{
    border: 2px solid #fee567;
}
.Tutorial4_activeRounded
{
       border-radius: .5em;
}
.Tutorial4_active_rightSection
{
    border-left: 2px solid #fee567;
    border-top: 2px solid #fee567;
    border-bottom: 2px solid #fee567;
}
.Tutorial4_active_leftSection
{
    border-right: 2px solid #fee567;
    border-top: 2px solid #fee567;
    border-bottom: 2px solid #fee567;
    
}
.Tutorial4_circlebtn
{
    
    background-color: #000000;
    color: #fee567;
    width: 30px;
    height: 35px;
    padding-left: 11px;
}
#Tutorial4_backbtn
{
    visibility: hidden;
}
#Tutorial4_nextbtn,#Tutorial_Challenge_nextbtn,#Tutorial_Challenge_backbtn
{
    visibility: hidden;
}
.Tutorial4_arrow_up,.Tutorial4_arrow_dn,.Tutorial_Challenge_arrow_up
{
    position: relative;
    pointer-events: inherit;
    display: block;
    font-size: 70px;
    z-index: 200001;
    color: black;
}
#session3_image_8
{
    width: 80%;
    height: 50%;
}
/****************************************/
/****************************************/
/*//////////////////////////////////////*/
/****************************************/
/****************************************/
@media (max-width: 1520px) {
    
  .themed-grid-col1_0, .themed-grid-col3_0 
    {
        /*border-bottom-left-radius: 0px;*/
    } 
}
@media (max-width: 1200px) {
    
 .Challenge_Text
{
    
    min-height: auto;
}
}
/********************************/
@media (max-width: 1450px) {
    
  #Control_row_measurement_units,#Control_row_plot_units_type 
    {
      font-size: 12px;
    } 
    #Tutorial_text_p
    {
        font-size: 15px;
    }
 #session3_image_8
    {
        width: 70%;
        height: 50%;
    }
}
/********************************/

.UploadFiles {
    width: 100%;
    margin: 0 auto;
    color:#ffffff;
}
.UploadFiles ol {
    padding-left: 0;
}
.UploadFiles li, .UploadFiles div > .UploadFiles p {
    background: #eee;
    color: #000;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    list-style-type: none;
    border: 1px solid black;
    border-radius: 15px;
}
.UploadFiles img {
    height: 64px;
    order: 1;
}
.UploadFiles p {
    line-height: 32px;
    padding-left: 10px;
}
.UploadFiles label, .UploadFiles button {
    background-color: #7F9CCB;
    color:#ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
    height: auto;
}
.UploadFiles label:hover, .UploadFiles button:hover {
    background-color: #2D5BA3;
    color: #6ce3d0;
}
.UploadFiles label:active, .UploadFiles button:active {
    background-color: #0D3F8F;
    color: #6ce3d0;
}
.preview {
    font-size: 0.95em;
}
/********************************/